.save_button {
    position: fixed;
    width: 5em;
    height: 2.5em;
    bottom: 40px;
    right: 50px;
    background-color: #fff;
    border-radius: 9px;
    border: 2px solid #007bff;
    color: #121212;
    text-align: center;
    transition: background-color 0.3s ease;
}

.save_button:hover {
  background-color: #007bff;
  color: #fff;
}
