asgiref==3.8.1
setuptools==75.1.0
Django==5.1.2
djangorestframework==3.15.2
django-appconf==1.0.6
django-ckeditor-5==0.2.13
django-cleanup==9.0.0
django-imagekit==5.0.0
django-jazzmin==3.0.1
django-js-asset==2.2.0
pilkit==3.0
pillow==10.4.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
drf-yasg==1.21.7
django-filter==24.3
django-crispy-forms==2.3